<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>new Comments</h1>
    <form action="/comments" method="post">
        <div>
            <label for="user">Enter a username</label>
        <input type="text" name="username" id="user" placeholder="username">
        </div>
        
      
        <div>
            <label for="comment">Comment Here</label>
            <br>
        <textarea name="comment" id="comment" cols="30" rows="5"></textarea>
        </div>

        <button>Submit</button>
    </form>

    <a href="/comments/">back to index</a>
</body>
</html>